@import url("https://fonts.google.com/specimen/Karla");

*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --padding: 2em;
    font-family: "Karla",sans-serif;
}
body {
    background-color: #e6eff6;
}
.body {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    height: 100vh;
    justify-content: center;
}

.container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hero {
    background-color: white;
    padding: var(--padding);
    border-radius: 8px 8px 0 0;
}
.hero h3 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}
.description {
    color: hsl(218, 22%, 67%);
    line-height: 25px;
    font-weight: 100;
}
.green {
    color: hsl(71, 73%, 54%);
    margin-bottom: 15px;
}


.money {
    background-color: hsl(179, 62%, 43%);
    padding: var(--padding);
    color: white;
}
.price {
    color: hsl(204, 43%, 80%);
    font-size: 14px;
    letter-spacing: .1em;
    margin: 20px 0;
}
.dollar {
   font-size: 30px; 
   color: white;
   margin-right: 5px;
   letter-spacing: normal;
}
.button {
    margin-top: 20px;
    background-color:hsl(71, 73%, 54%);
    font-size: 16px;
    padding: 1em;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2);
}
.button a {
    color: hsl(204, 43%, 93%) ;
    text-decoration: none;
    font-weight: 400;
}
.why {
    background-color: #4abebd;
    padding: var(--padding);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
}

.reasons {
    margin-top: 20px;
    flex-grow: 1;
    color: hsl(204, 43%, 93%);
    opacity: .8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (min-width: 400px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "hero hero"
        "card1 card2";
    }
    .hero {
        grid-area: hero
    }
    .hero h3 {
        font-size: 25px
    }
    .money {
        grid-area: card1;
        border-radius: 0 0 0 8px;
    }
    .why {
        grid-area: card2;
        border-radius: 0 0 8px 0;
    }
    .why h4, .money h3 {
        font-size: 20px
    }
}

@media (min-width: 1000px) {
    .container {
        width: 50%;
    }
}